/* 创建滚动空间 */
body {
    margin: 0;
    min-height: 700vh;
}

/* 视差系统容器 */
.parallax-system {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 通用图片层样式 */
.parallax-layer {
    position: absolute;
    width: 100vw;
    height: auto;
    object-fit: cover;
}

/*其他背景层容器*/
.background-system {
    position: absolute;
    width: 100vw;
    top: 100vh;
    left: 0;
    z-index: 11; /* 关键层级设置 */
}

/* 其他背景层样式 */
.background-layer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    /*margin-top: 100vh;*/
}

/* 修正植物生长容器的位置 */
#plant-container {
    position: fixed;
    bottom: 20%; /* 更靠近右下角 */
    right: 10%;
    z-index: 10;
    width: 120px; /* 初始小草大小 */
    height: auto;
}

/* 让植物的不同阶段居中叠加 */
.plant-stage {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
}


/* 标题天空 */
#sky-layer {
    z-index: 1;
    top: 0;
    left: 0;
}

/*标题*/
#title-layer {
    z-index: 2;
    top: 30%;
    width: 25vw;
    left: 40vw;
}

/*山脉*/
#mountain-layer {
    z-index: 3;
    bottom: -100%; /* 初始位置露出山顶 */
}

/* 大树天空背景层 */
#treesky {
    margin-top: 500vh;
    z-index: -4;
}

#root {
    z-index: -3;
}

#footer {
    z-index: -2;
}

/* 太阳初始位置（屏幕左侧外部） */
#sun {
    position: fixed;
    left: -20%;
    bottom: 35%;
    width: 120px; /* 太阳大小 */
    height: auto;
    z-index: 12;
}

/* 文字容器 */
#text-container {
    position: fixed;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0; /* 初始隐藏 */
    font-size: 20px;
    color: #044837;
    z-index: 10;
    font-family: 摄图摩登小方体;
}

/* 文字容器 */
.messageTitle {
    /*font-family: "Cascadia Code";*/
    font-family: 摄图摩登小方体;
    margin-top: -5%;
}

/* 背景树初始位置（屏幕右侧） */
#big-tree {
    position: fixed;
    left: 60%;
    bottom: -150%;
    z-index: 12;
}
